@model MvcHtmx.Models.MovieDisplayViewModel

<input type="hidden" asp-for="Movie_ID" />

<div class="form-group row">
    <label asp-for="Title" class="col-sm-3 col-form-label"></label>
    <div class="col-sm-9">
        <input asp-for="Title" class="form-control" readonly />
    </div>
</div>

<div class="form-group row">
    <label asp-for="ReleaseDate" class="col-sm-3 col-form-label"></label>
    <div class="col-sm-9">
        <input asp-for="ReleaseDate" class="form-control" readonly />
    </div>
</div>

<div class="form-group row">
    <label asp-for="Genre" class="col-sm-3 col-form-label"></label>
    <div class="col-sm-9">
        <input asp-for="Genre" class="form-control" readonly />
    </div>
</div>

<div class="form-group row">
    <label asp-for="Price" class="col-sm-3 col-form-label"></label>
    <div class="col-sm-9">
        <input asp-for="Price" class="form-control" readonly />
    </div>
</div>
