@model MvcHtmx.Models.MovieDisplayViewModel

@{ ViewBag.Title = "Film / Consulter"; }

<form class="form-horizontal">

    <fieldset>

        <legend>@ViewBag.Title</legend>

        @await Html.PartialAsync("_Display.cshtml", Model)

        <hr>
        <div class="form-group row">
            <div class="offset-sm-3 col-sm-9">
                <a asp-action="Edit" asp-route-id="@Model.Movie_ID" class="btn btn-secondary"
                   hx-target="main" hx-get="/movies/edit/@Model.Movie_ID/">Modifier</a>
                <a asp-action="Index" hx-target="main" hx-get="/movies/">Annuler</a>
            </div>
        </div>

    </fieldset>
</form>
